<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ name }}</title>

  <style>
    .icons {
      display: grid;
      max-width: 100%;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr) );
      gap: 1.25rem;
    }
    .icon {
      background-color: var(--bs-light);
      border-radius: .25rem;
    }
    .bi {
      margin: .25rem;
      font-size: 2.5rem;
    }
    .label {
      font-family: var(--bs-font-monospace);
    }
    .label {
      display: inline-block;
      width: 100%;
      overflow: hidden;
      padding: .25rem;
      font-size: .625rem;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  </style>

  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ name }}.css">
</head>
<body class="text-center">

  <h1>{{ name }}</h1>

  <div class="row">
    <div class="col p-3 m-3">
      <input type="text" name="search" id="search" class="form-control" placeholder="search (eg: check)">
    </div>
  </div>

  <div class="icons">
  {{# each assets }}
    <div class="icon">
      <{{ ../tag }} class="{{ ../prefix }} {{ ../prefix }}-{{ @key }}"></{{ ../tag }}>
      <div class="label">{{ @key }}</div>
    </div>
  {{/ each }}
  </div>

  <script>
    (function () {
      var icons = Array.from(document.querySelectorAll('.icon > div.label'))
      var btn = document.getElementById('search')

      btn.addEventListener('keyup', function search(event) {
        var value = event.target.value;

        var filteredIcons = icons.filter(function(icon) {
          return icon.innerHTML.indexOf(value) > -1
        })

        var unfilteredIcons = icons.filter(function(icon) {
          return icon.innerHTML.indexOf(value) === -1
        })

        unfilteredIcons.forEach(function(el) {
          el.parentElement.style.display = 'none'
        });

        filteredIcons.forEach(function(el) {
          el.parentElement.style.display = ''
        })
      })
    })()
  </script>
</body>
</html>
